IDProject.json
[{"id":"27331ae3.b27736","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"97528cae.91dbc","type":"ui_template","z":"27331ae3.b27736","group":"c3c5fe36.f3548","name":"Control Panel","order":0,"width":0,"height":0,"format":"<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=439 width=553 src=\"http://localhost/html/\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":350,"y":320,"wires":[[]]},{"id":"9c117b4c.aeb158","type":"pythonshell in","z":"27331ae3.b27736","name":"MoveCameraDown","pyfile":"/home/pi/Desktop/4ID1_Project/Down.py","virtualenv":"","continuous":false,"stdInData":false,"x":410,"y":60,"wires":[[]]},{"id":"1d39fd3a.c843c3","type":"ui_button","z":"27331ae3.b27736","name":"","group":"c3c5fe36.f3548","order":1,"width":0,"height":0,"passthru":false,"label":"Down","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":60,"wires":[["9c117b4c.aeb158"]]},{"id":"292cfc42.124e84","type":"pythonshell in","z":"27331ae3.b27736","name":"MoveCameraUp","pyfile":"/home/pi/Desktop/4ID1_Project/Up.py","virtualenv":"","continuous":false,"stdInData":false,"x":400,"y":180,"wires":[[]]},{"id":"b13f19c1.0b4f58","type":"ui_button","z":"27331ae3.b27736","name":"","group":"c3c5fe36.f3548","order":1,"width":0,"height":0,"passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":180,"wires":[["292cfc42.124e84"]]},{"id":"c3c5fe36.f3548","type":"ui_group","name":"Project","tab":"e266c3a9.4f618","order":1,"disp":true,"width":"9","collapse":false,"className":""},{"id":"e266c3a9.4f618","type":"ui_tab","name":"Project","icon":"dashboard","disabled":false,"hidden":false}]